[submodule "firmware/footprints/Type-C.pretty"]
	path = firmware/footprints/Type-C.pretty
	url = https://github.com/ai03-2725/Type-C.pretty
[submodule "hardware/footprints/Type-C.pretty"]
	path = hardware/footprints/Type-C.pretty
	url = https://github.com/ai03-2725/Type-C.pretty
